.tbody {
    position: relative;
    top: 20px;
    display: flex;
    gap: 10px;
}

.card {
    width: 260px;
    height: 430px;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
}


.buttonse {
    display: flex;
    left: 200px;


}

.btn-btn-danger2 {

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: brown;
    width: 120px;
    height: 50px;
    border: none;
    color: #ffff;
    transition: all 1s ease;
}

.btn-btn-danger2:hover {
    background-color: rgb(255, 0, 0);
    color: #fff;
}

.btn-btn-info2 {

    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    width: 120px;
    height: 50px;
    border: none;
    color: #ffff;
    transition: 1s ease all;
}

.btn-btn-info2:hover {
    background-color: rgb(29, 255, 210);
    color: #fff;

}

.box-logo102{
    z-index: 2;
    top: 40px;
    position: relative;
    left: 21px;
    width: 219px;
    height: 55px;
    border-radius: 8px;
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

.container {
    position: relative;
    bottom: 2200px;
   right: 50px;
    width: 1020px;
}

.tbody {
    display: flex;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

/* 2 */

.mein-card img {
    width: 100px;
    height: 200px;
    margin-left: 60px;
    border-radius: 20px;

}

.mein-card {
    width: 300px;

    padding: 20px;
    color: #fff;
    border-radius: 20px;

    border: 1px solid rgb(238, 238, 238);
}

.mein-name {
    color: #fff;
    padding-top: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.mein-text {
    color: #fff;
    padding-top: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

/* 3 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

.sidebar {
    width: 25%;
    height: 185vh;
    background: rgb(248, 249, 250);
}

.mein {
    
    width: 115%;
    height: 185vh;
    background: rgb(248, 249, 250);

}

.row {
    display: flex;
}



.line {
    position: relative;
    top: 20px;
    width: 255px;
    height: 1px;
    background: rgb(245, 245, 245);
}

.logo-png {
    width: 30px;
    height: 38px;
}

.logo-text {
    position: relative;
    top: 10px;
    left: 5px;
}

.box-logo1{
    position: relative;
    left: 20px;
    top: 30px;
}

.logo {
    position: relative;
    padding-top: 52px;
    left: 31px;
    display: flex;
}

/* 2 */

.logo-down1 {
    position: relative;
    top: 18px;
    left: 25px;
    z-index: 2;
}

.box-logo {
    z-index: 0;
    top: 40px;
    position: relative;
    left: 21px;
    width: 219px;
    height: 55px;
    
   
}


.box-logo4{
    z-index: 0;
    top: 40px;
    position: relative;
    left: 21px;
    width: 219px;
    height: 55px;
    border-radius: 8px;
   
}

.purple-box {
    position: relative;
    bottom: 10px;
    left: 16px;
    width: 32px;
    height: 32px;
    border-radius: 8px;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    background: rgb(203, 12, 159);
}

.box-text {
    position: relative;
    left: 45px;
    top: 5px;
    color: rgb(103, 116, 142);
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
}

.sign-in-box{
    text-decoration-line: none;
    color: rgb(103, 116, 142);
}
.sign-up-box{
    text-decoration-line: none;
    color: rgb(103, 116, 142);
}

.box-text2 {
    line-break: initial;
    position: relative;
    left: 80px;
    top: 5px;
    color: rgb(103, 116, 142);
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
}

.text-box2{
    text-decoration-line: none;
    color: rgb(103, 116, 142);

}

.Kurslar{
text-decoration-line: none;
color: rgb(103, 116, 142);

}


/* 3 */

.white-box {
    z-index: 1;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    position: relative;
    left: 37px;
    top: 20px;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}

.box-text {
    position: relative;
    left: 80px;
    color: rgb(103, 116, 142);
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
}



.logo-down2 {
    position: relative;
    left: 46px;
    top: 48px;
    z-index: 2;
}

/* 4 */

.accaunt-text {
    position: relative;
    top: 290px;
    left: 37px;
    color: rgb(103, 116, 142);
    font-size: 13px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: -0.36px;
    text-align: left;
}

/* 5 */

.box-text3 {
    color: rgb(103, 116, 142);
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
    position: relative;
    left: 80px;
    width: 60px;
}

/* .box-logo3 {} */

.white-box3 {
    position: relative;
    left: 37px;
    top: 290px;
    width: 32px;
    height: 32px;
    border-radius: 8px;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 6px -1px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}

.logo-down3 {
    position: relative;
    left: 46px;
    top: 318px;
    z-index: 2;
}

/* 6 */

.navbar-right{
    width: 1100px;
}

.navbar-pages {
    padding-top: 20px;
    color: rgb(37, 47, 64);

    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
    position: relative;
    left: 62px;
}

.navbar-dashboard {
    color: rgb(37, 47, 64);
    font-size: 16px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: -0.44px;
    text-align: left;
    position: relative;
    left: 62px;
    padding-top: 4px;
}

/* 7 */

.search-logo {
    position: relative;
    left: 30px;
    top: 4px;
}

.input-search {
    border: 1px solid rgb(210, 214, 218);

    background: rgb(255, 255, 255);
    width: 197px;
    height: 40px;

    border-radius: 5px;
    border: none;
}

::placeholder {
    position: relative;
    left: 30px;
}

.navbar-search {
    position: relative;
    bottom: 45px;
    left: 710px;
}

/* 7 */

.user {
    display: flex;
}

.user-logo {
    position: relative;
    left: 115px;
    bottom: 14px;
}

.user-text {
    position: relative;
    left: 135px;
    bottom: 35px;
    color: rgb(103, 116, 142);
    font-size: 14px;
    font-weight: 600;
    line-height: -1px;
    letter-spacing: -0.39px;
    text-align: left;
}

.settings {
    bottom: 51px;
    position: relative;
    display: flex;
    gap: 19px;
    left: 205px;
}

.shape {
    width: 14px;
    height: 14px;
}

.path10 {
    width: 12px;
    height: 13px;
}
